:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
        "l-sidebar header   header"
        "l-sidebar projects r-sidebar";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr;
}

.header {
    grid-area: header;
}

.l-sidebar {
    grid-area: l-sidebar;
    background-color: cadetblue;
    color: aliceblue;
    font-size: 2rem;
    display: grid;
}

.l-sidebar ul {
    list-style: none;
}

.r-sidebar {
    grid-area: r-sidebar;
}

.projects {
    background-color: beige;
    padding: 15px;
    grid-area: projects;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}

.projects .title {
    grid-area: 1 / 1 / 2 / 3;
}

.projects .project-card {
    background-color: white;
    grid-auto-flow: row;
    border-left: 10px solid orange;
    border-radius: 10px;
}