/* .wrapper {
    display: flex;
    justify-content: center;
} */

.container {
    display: grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar projects";
    grid-template-columns: 1fr 4fr;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.projects {
    grid-area: projects;
}